/* LOG IN */
#sendCode:hover, #logInBtn:hover {
	color: #FFFFFF;
}

@media (max-width: 575.98px) { 
	.loginContainer {
		margin-top: 20%;
	}

	#phoneNumberInput, #loginCodeInput {
		font-family: 'Roboto';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 23px;
		 line-height: 42px;

		 color: #FFFFFF;  
	}

	#phoneNumberInput:placeholder, #loginCodeInput:placeholder {
		color: rgba(255, 255, 255, 0.71);  
	}


	#phoneNumberInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;

	  width: 80%;
	  margin-left: 10%;
	  margin-bottom: 2%;
	}

	.loginCodeGroup {
		width: 80%;
		margin-left: 10%;
	}

	#loginCodeInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;
	}


	#sendCode {
	  background: #FFC700;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 35px;

	  color: #000000;
	}


	#logInBtn{
	  width: 33%;
	  background: #FFC700;
	  border-radius: 15px;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 35px;
	  line-height: 40px;

	  margin-left: 30%;
	  margin-top: 15%;

	  color: #000000;
	}

	#signupText, #signup {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 24px;
	  line-height: 28px;

	  margin-top: 3%;
	}

	#signupText {
	  color: #FFFFFF;
	  margin-left: 13%;
	}

	#signup {
	  color: #FFC700;
	} 
}

@media (min-width: 576px) {
	.loginContainer {
		margin-top: 15%;
	}

	#phoneNumberInput, #loginCodeInput {
		font-family: 'Roboto';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 25px;
		 line-height: 42px;

		 color: #FFFFFF;  
	}

	#phoneNumberInput:placeholder, #loginCodeInput:placeholder {
		color: rgba(255, 255, 255, 0.71);  
	}


	#phoneNumberInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;

	  width: 80%;
	  margin-left: 10%;
	  margin-bottom: 2%;
	}

	.loginCodeGroup {
		width: 80%;
		margin-left: 10%;
	}

	#loginCodeInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;
	}


	#sendCode {
	  background: #FFC700;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 35px;

	  color: #000000;
	}


	#logInBtn{
	  width: 33%;
	  background: #FFC700;
	  border-radius: 20px;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 35px;
	  line-height: 40px;

	  margin-left: 30%;
	  margin-top: 15%;

	  color: #000000;
	}

	#signupText, #signup {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 24px;
	  line-height: 28px;

	  margin-top: 3%;
	}

	#signupText {
	  color: #FFFFFF;
	  margin-left: 15%;
	}

	#signup {
	  color: #FFC700;
	}
}

@media (min-width: 768px) {

	.loginContainer {
		margin-top: 10%;
	}

	#phoneNumberInput, #loginCodeInput {
		font-family: 'Roboto';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 36px;
		 line-height: 42px;

		 color: #FFFFFF;  
	}

	#phoneNumberInput:placeholder, #loginCodeInput:placeholder {
		color: rgba(255, 255, 255, 0.71);  
	}


	#phoneNumberInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;

	  width: 75%;
	  margin-left: 13%;
	  margin-bottom: 2%;
	}

	.loginCodeGroup {
		width: 75%;
		margin-left: 13%;
	}

	#loginCodeInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;
	}


	#sendCode {
	  background: #FFC700;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 35px;

	  color: #000000;
	}


	#logInBtn{
	  width: 30%;
	  background: #FFC700;
	  border-radius: 15px;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 43px;
	  line-height: 56px;

	  margin-left: 33%;
	  margin-top: 10%;

	  color: #000000;
	}

	#signupText, #signup {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 24px;
	  line-height: 28px;

	  margin-top: 3%;
	}

	#signupText {
	  color: #FFFFFF;
	  margin-left: 23%;
	}

	#signup {
	  color: #FFC700;
	}
}

@media (min-width: 992px) { 	

	.loginContainer {
		margin-top: 10%;
	}

	#phoneNumberInput, #loginCodeInput {
		font-family: 'Roboto';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 36px;
		 line-height: 42px;

		 color: #FFFFFF;  
	}

	#phoneNumberInput:placeholder, #loginCodeInput:placeholder {
		color: rgba(255, 255, 255, 0.71);  
	}


	#phoneNumberInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;

	  width: 55%;
	  margin-left: 20%;
	  margin-bottom: 2%; 
	}

	.loginCodeGroup {
		width: 55%;
		margin-left: 20%;
	}

	#loginCodeInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;
	}


	#sendCode {
	  background: #FFC700;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 35px;

	  color: #000000;
	}


	#logInBtn{
	  width: 23%;
	  background: #FFC700;
	  border-radius: 20px;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 43px;
	  line-height: 56px;

	  margin-left: 35%;
	  margin-top: 7%;

	  color: #000000;
	}

	#signupText, #signup {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 24px;
	  line-height: 28px;

	  margin-top: 3%;
	}

	#signupText {
	  color: #FFFFFF;
	  margin-left: 29%;
	}

	#signup {
	  color: #FFC700;
	}
}

@media (min-width: 1200px) {
	.loginContainer {
		margin-top: 5%;
	}

	#phoneNumberInput, #loginCodeInput {
		font-family: 'Roboto';
		 font-style: normal;
		 font-weight: 400;
		 font-size: 36px;
		 line-height: 42px;

		 color: #FFFFFF;  
	}

	#phoneNumberInput:placeholder, #loginCodeInput:placeholder {
		color: rgba(255, 255, 255, 0.71);  
	}


	#phoneNumberInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;

	  width: 45%;
	  margin-left: 25%;
	  margin-bottom: 2%; 
	}

	.loginCodeGroup {
		width: 45%;
		margin-left: 25%;
	}

	#loginCodeInput {
	  border-color: #FFC700;
	  background-color: #3A3A3A;
	}


	#sendCode {
	  background: #FFC700;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 35px;

	  color: #000000;
	}


	#logInBtn{
	  width: 20%;
	  background: #FFC700;
	  border-radius: 20px;

	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 43px;
	  line-height: 56px;

	  margin-left: 37%;
	  margin-top: 7%;

	  color: #000000;
	}

	#signupText, #signup {
	  font-family: 'Roboto';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 24px;
	  line-height: 28px;

	  margin-top: 3%;
	}

	#signupText {
	  color: #FFFFFF;
	  margin-left: 32%;
	}

	#signup {
	  color: #FFC700;
	}
}




/* LOG IN END*/