<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Account</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">

    <img class="profileIconW" src="../images/icons/white profile icon.png" alt="profile icon">

    <button id="homeBtn" type="button" class="btn btn-link">Home</button>
    <button id="accountBtn" type="button" class="btn btn-link">Account</button>

    <p id="accountHeader">Membership & Billing</p>

    <p id="numberText">Phone: 3451 1260</p>

    <button id="phoneChangeBtn" type="button" class="btn btn-warning" onclick="location.href='account_phone_confirm.html'">Change phone number</button>
    <img id="arrowIcon1Acc" src="../images/icons/arrow icon.png" alt="arrow icon">


    <p id="cardNumberText">•••• •••• •••• 2241</p>
    <img id="mastercardAc" src="../images/cards/mastercard icon.png" alt="mastercard icon">
    <img id="mastercardRectangleAc" src="../images/cards/mastercard rectangle.png" alt="mastercard rectangle">
    <p id="billingDate">Your next billing date is March 20, 2022.</p>


    <button id="manageBtn" type="button" class="btn btn-warning" onclick="location.href='account_creditcard_update.html'">Manage payment</button>
    <img id="arrowIcon2Acc" src="../images/icons/arrow icon.png" alt="arrow icon">

    <button id="cancelMemberBtn" type="button" class="btn btn-warning" onclick="location.href='index.html'">Cancel Membership</button>

   <script src="../js/main.js"></script>

  </body>
</html>