<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Account</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">

    <img class="profileIconW" src="../images/icons/white profile icon.png" alt="profile icon">

    <button id="homeBtn" type="button" class="btn btn-link">Home</button>
    <button id="accountBtn" type="button" class="btn btn-link">Account</button>

    <p id="updatePaymentText">
      Update your credit or debit card
    </p>

    <img id="mastercardAcc" src="../images/cards/mastercard icon.png" alt="mastercard icon">
    <img id="mastercardRectangleAcc" src="../images/cards/mastercard rectangle.png" alt="mastercard rectangle">
    <img id="visaAcc" src="../images/cards/visa icon.png" alt="visa icon">
    <img id="visaRectangleAcc" src="../images/cards/visa rectangle.png" alt="visa rectangle">
    

    <input id="firstNameInputAcc" type="text" class="form-control" placeholder="First Name" aria-label="firstName" aria-describedby="basic-addon1">
    <input id="lastNameInputAcc"  type="text" class="form-control" placeholder="Last Name" aria-label="lastName" aria-describedby="basic-addon1">
    <input id="cardNumberInputAcc"  type="text" class="form-control" placeholder="Card Number" aria-label="cardNumber" aria-describedby="basic-addon1">
    <input id="expirationDateInputAcc"  type="text" class="form-control" placeholder="Expiration date (MM/YY)" aria-label="expirationDate" aria-describedby="basic-addon1">
    <input id="cvvInputAcc"  type="text" class="form-control" placeholder="Security Code(CVV)" aria-label="cvv" aria-describedby="basic-addon1">

    <button id="priceAcc" type="button" class="btn btn-dark" disabled>EUR8/month</button>

   <button id="submitBtnAcc" type="button" class="btn btn-warning">Done</button>

   

  </body>
</html>