<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Account</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">

    <img class="profileIconW" src="../images/icons/white profile icon.png" alt="profile icon">

    <button id="homeBtn" type="button" class="btn btn-link">Home</button>
    <button id="accountBtn" type="button" class="btn btn-link">Account</button>

    <p id="updatePhoneAccText">Update your phone number</p>

    <input id="phoneNumberInputAcc" type="text" class="form-control" placeholder="Phone number" aria-label="phoneNumber" aria-describedby="basic-addon1">

    <div class="input-group mb-3">
      <input id="loginCodeInputAcc" type="text" class="form-control" placeholder="Enter 4-digit code" aria-label="digitCode" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button id="sendCodeAcc" class="btn btn-outline-secondary" type="button">Send code</button>
      </div>
    </div>

    <button id="submitBtnAcc" type="button" class="btn btn-warning">Done</button>


   

  </body>
</html>