<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

  <title>Home</title>
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <img id="navbar-brand mr-auto" class="img-fluid" src="../images/logo/logo.png" alt="logo">

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav mr-auto">
        <li class="home nav-item">
          <a href="home.html" class="nav-link text-sm-start"> Home </a>
        </li>
        <li class="myList nav-item">
          <a href="my list.html" class="nav-link"> My List </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a href="#" id="select" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Categories</a>
            <div class="dropdown-menu">
              <div class="container container-md categories">
                <div class="row">
                  <div class="col-md-4">
                    <a href="#" class="dropdown-item">Action</a>
                    <a href="#" class="dropdown-item">Anime</a>
                    <a href="#" class="dropdown-item">Blockbusters</a>
                    <a href="#" class="dropdown-item">Children</a>
                    <a href="#" class="dropdown-item">Documentaries</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="dropdown-item">Comedies</a>
                    <a href="#" class="dropdown-item">Drama</a>
                    <a href="#" class="dropdown-item">Horror</a>
                    <a href="#" class="dropdown-item">International</a>
                    <a href="#" class="dropdown-item">Romance</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="dropdown-item">Stand-Up</a>
                    <a href="#" class="dropdown-item">Fantasy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="nav navbar-header navbar-profile pull-right">
      <ul class="nav">
        <li>
          <a href="search.html" class="nav-link flex-md-row">
            <img class="img-fluid" src="../images/icons/search-white.png" alt="profile icon">
          </a>
        </li>
        <li>
          <a href="notifications.html" class="nav-link flex-md-row">
            <img class="img-fluid" src="../images/icons/notification-white.png" alt="profile icon">
          </a>
        </li>
        <li>
          <div class="dropdown">
            <a id="profile-dropdown" href="#" data-bs-toggle="dropdown" class="nav-link" onfocusin="setPictureYellow()" onfocusout="setPictureWhite()">
              <img id="profile-dropdown-pic" class="img-fluid" src="../images/icons/white profile icon.png" alt="profile icon">
            </a>
            <div class="dropdown-menu">
              <a href="style_guide.html" class="dropdown-item">Style Guide</a>
              <div class="dropdown-divider"></div>
              <a href="history.html" class="dropdown-item">History</a>
              <div class="dropdown-divider"></div>
              <a href="account.html" class="dropdown-item">Account</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">Help</a>
              <div class="dropdown-divider"></div>
              <a href="index.html" class="dropdown-item">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVBAR END -->

<!-- TRENDING NOW BLOCK-->
<section class="main-slider">
  <div class="trendingContainer container series">
    <h3> Trending Now </h3>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/squid-game.jpeg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-9.jpg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/money-heist.jpg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-10.jpg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-11.jpg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-3.jpg" alt="poster">
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="swiper-pagination"></div> -->
      <div class="slider-btns">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>

</section>
<!-- TRENDING NOW BLOCK END -->

<!-- Continue watching -->
<div class="continueWatchingContainer container series">
  <h3> Continue watching </h3>
  <div class="row row-cols-2 row-cols-md-3 g-4">
    <div class="col">
      <div class="card mb-3 text-white">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../images/covers/squid-game2.jpg" class="img-fluid rounded-start img-continue-watching" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">2. Hell</h5>
              <p class="card-text">Season 1 Episode 2</p>
              <a href="player.html" class="stretched-link"></a>
              <div class="progress">
                <div class="progress-bar-1" role="progressbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3 text-white">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../images/covers/squid-game2.jpg" class="img-fluid rounded-start img-continue-watching" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">2. Hell</h5>
              <p class="card-text">Season 1 Episode 2</p>
              <div class="progress">
                <div class="progress-bar-2" role="progressbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Continue watching END-->


<!-- MY LIST BLOCK-->
<section class="main-slider">
  <div class="mylistContainer container series">
    <h3> My List </h3>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img bookmarkList">
              <img src="../images/covers/squid-game.jpeg" alt="poster">
              <input type="image" id="bookmarkIcon" class="bookmark" src="../images/icons/bookmark-yellow.png" alt="" onclick="setBookmark();">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img bookmarkList">
              <img src="../images/covers/post-9.jpg" alt="poster">
              <input type="image" id="bookmarkIcon1" class="bookmark" src="../images/icons/bookmark-yellow.png" alt="" onclick="setBookmark1();">
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>

</section>
<!-- MY LIST END -->

<!-- Movies BLOCK-->
<section class="main-slider">
  <div class="moviesContainer container series">
    <h3> Movies </h3>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/squid-game.jpeg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-9.jpg" alt="poster">
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>

</section>
<!-- Movies END -->


<!-- TV SERIES BLOCK-->
<section class="main-slider">
  <div class="container series">
    <h3> TV Series </h3>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/squid-game.jpeg" alt="poster">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slider-box">
            <div class="main-slider-img">
              <img src="../images/covers/post-9.jpg" alt="poster">
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>

</section>
<!-- TV SERIES END -->



<script src="../js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      420: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 20,
      },
    },
  });
</script>
</body>
</html>
