<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Step 2</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">


    <img id="blackElipseStep" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="stepIcon" src="../images/icons/payment icon.png" alt="payment icon">

    <p class="stepP">STEP 2 OF 2</p>

    <p id="stepText">
      Set up your payment
    </p>

    <button id="paymentBtn1" type="button" class="btn btn-warning">Mastercard / Visa</button>
    <img id="arrowIcon1" src="../images/icons/arrow icon.png" alt="arrow icon">

    <button id="paymentBtn2" type="button" class="btn btn-warning">PayPal</button>
    <img id="arrowIcon2" src="../images/icons/arrow icon.png" alt="arrow icon">

    <button id="loginBtn" type="button" class="btn btn-link">Log in</button>


  </body>
</html>