<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Step 1</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">


    <img id="blackElipseStep" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="stepIcon" src="../images/icons/phone icon.png" alt="phone icon">

    <p class="stepP">STEP 1 OF 2</p>

    <p id="stepText">
      Enter your phone number to start<br>
      your membership
    </p>

    <input id="inputPhoneNumber" class="input-border-bottom" type="text" class="form-control" aria-describedby="basic-addon1">

    <button class="nextBtn" type="button" class="btn btn-warning" onclick="location.href='step 1.2.html'">Next</button>

    <button id="loginBtn" type="button" class="btn btn-link">Log in</button>

    <script src="../js/main.js"></script>

  </body>
</html>
