<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />


    <title>Step 2</title>
  </head>

  <body>

    <img id="blackElipseLogo" src="../images/logo/black elipse.png" alt="black elipse">
    <img id="yellowElipse" src="../images/logo/yellow elipse.png" alt="yellow elipse">
    <img id="playIcon" src="../images/logo/play icon.png" alt="play icon">

    <img id="mastercard" src="../images/cards/mastercard icon.png" alt="mastercard icon">
    <img id="mastercardRectangle" src="../images/cards/mastercard rectangle.png" alt="mastercard rectangle">
    <img id="visa" src="../images/cards/visa icon.png" alt="visa icon">
    <img id="visaRectangle" src="../images/cards/visa rectangle.png" alt="visa rectangle">
    
    <p id="stepPayment">STEP 2 OF 2</p>

    <p id="stepPaymentText">
      Set up your credit or debit card
    </p>

    <input id="firstNameInput" type="text" class="form-control" placeholder="First Name" aria-label="firstName" aria-describedby="basic-addon1">
    <input id="lastNameInput"  type="text" class="form-control" placeholder="Last Name" aria-label="lastName" aria-describedby="basic-addon1">
    <input id="cardNumberInput"  type="text" class="form-control" placeholder="Card Number" aria-label="cardNumber" aria-describedby="basic-addon1">
    <input id="expirationDateInput"  type="text" class="form-control" placeholder="Expiration date (MM/YY)" aria-label="expirationDate" aria-describedby="basic-addon1">
    <input id="cvvInput"  type="text" class="form-control" placeholder="Security Code(CVV)" aria-label="cvv" aria-describedby="basic-addon1">

    <button id="price" type="button" class="btn btn-dark" disabled>EUR8/month</button>

    <p id="agreement">
      By clicking the “Done”button below, you agree to our<br>
      Terms of Use and that you are over 18 and acknowledge<br>
      the Privacy Statement. You agree that your membership<br>
      will begin immediately, and that you will not be able to<br>
      withdraw from the contract and receive a refund.<br>
      We will automatically continue your membership and<br>
      charge the membership fee to your payment method<br>
      until you cancel. You may cancel at any time to avoid<br> 
      future charges.
    </p>

   <button id="submitBtn" type="button" class="btn btn-warning">Done</button>

    <button id="loginBtn" type="button" class="btn btn-link">Log in</button>

  </body>
</html>