<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />
    <title>Style Guide</title>
</head>
<body>

<div class="styleGuide">
    <div id="templateTitle">
        <span id="projectTitle">Filmistriiming</span> <br/>
        <span id="projectDesc">Style Guide</span>
        <div class="seperator"></div>
    </div>

    <!-- typography -->
    <div class="sectionHeading">
        <span class="sectionTitle">Typography</span>
        <div class="sectionSeperator"></div>
    </div>
    <div id="typography">
        <h1>H1. This is a Page Title.</h1>
        <h2>H2. This is a header.</h2>
        <h3>H3. This is a medium header.</h3>
        <h4>H4. This is a sidebar header.</h4>
        <h5>H5. This is a small header.</h5>
        <h6>H6. This is a tiny header.</h6>
        <p>A general paragraph will look like this.</p>
    </div>
    <!-- typography END -->

    <!-- COLORS -->
    <div class="sectionHeading">
        <span class="sectionTitle">Color palette</span>
        <div class="sectionSeperator"></div>
    </div>

    <div>
        <ul id="colors">
            <li class="colorCircle color-1">
                <div class="colorHex">#FDC501</div>
            </li>
            <li class="colorCircle color-2">
                <div class="colorHex">#FDFDFE</div>
            </li>
            <li class="colorCircle color-3">
                <div class="colorHex">#FB0002</div>
            </li>
            <li class="colorCircle color-4">
                <div class="colorHex">#020203</div>
            </li>
            <li class="colorCircle color-5">
                <div class="colorHex">#3A3A3B</div>
            </li>
        </ul>
    </div>
    <!-- COLORS end -->

    <!-- Iconography -->
    <div class="sectionHeading">
        <span class="sectionTitle">Iconography</span>
        <div class="sectionSeperator"></div>
    </div>

    <div class="StyleGuideContainer">
        <ul id="icons">
            <li class="iconEl">
                <div class=""><img src="../images/icons/search-white.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/search-yellow.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/notification-white.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/notification-yellow.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/white%20profile%20icon.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/yellow%20profile%20icon.png" alt=""></div>
            </li>
        </ul>
    </div>
    <!-- Iconography end -->




    <!-- use these as needed -->
    <div class="sectionHeading">
        <span class="sectionTitle">Layouts and grids</span>
        <div class="sectionSeperator"></div>
    </div>

    <div id="inlineElements">
        <p><strong>TODO</strong></p>
    </div>


    <!-- use these as needed -->
    <div class="sectionHeading">
        <span class="sectionTitle">FORM ELEMENTS</span>
        <div class="sectionSeperator"></div>
    </div>

    <div id="formElements">
        <form>
            <div class="form-item">
                <input type="text" placeholder="text field" name="">
            </div>
            <div class="form-item">
                <input type="text" required="required" placeholder="required text field" name="" id="">
            </div>
            <div class="form-item">
                <textarea name="" cols="40" rows="5"></textarea>
            </div>

            <div class="form-item">
                <select name="">
                    <option value="default">-- Select --</option>
                    <option value="">Only</option>
                    <option value="">One</option>
                    <option value="">Item</option>
                </select>
            </div>

            <div class="form-item">
                <select multiple name="">
                    <option value="">Select</option>
                    <option value="">Multiple</option>
                    <option value="">Items</option>
                </select>
            </div>

            <div class="form-item form-type-radios">
                <div class="form-item"><input type="radio" name="example-radios"><label for="" class="option">Radio One</label></div>
                <div class="form-item"><input type="radio" name="example-radios"><label for="" class="option">Radio Two</label></div>
                <div class="form-item"><input type="radio" name="example-radios"><label for="" class="option">Radio Three</label></div>
                <div class="form-item"><input type="radio" name="example-radios"><label for="" class="option">Radio Four</label></div>
            </div>

            <div class="form-item form-type-checkboxes">
                <div class="form-item"><input type="checkbox" name=""><label for="">checkbox 1</label></div>
                <div class="form-item"><input type="checkbox" name=""><label for="">checkbox 2</label></div>
                <div class="form-item"><input type="checkbox" name=""><label for="">checkbox 3</label></div>
                <div class="form-item"><input type="checkbox" name=""><label for="">checkbox 4</label></div>
            </div>

            <div class="form-actions">
                <input type="submit" class="form-submit">
                <input type="button" value="Cancel" class="form-submit">
            </div>
        </form>
    </div>


    <!-- use these as needed -->
    <div class="sectionHeading">
        <span class="sectionTitle">BUTTON ELEMENTS</span>
        <div class="sectionSeperator"></div>
    </div>

    <div id="buttonElements">
        <button class="nextBtnEl" type="button" class="btn btn-warning">Next</button>
    </div>

    <h2>What should I include in a UI style guide?</h2>
    <h3>Typography</h3>
    <p>The typography section of your style guide should identify:</p>
    <ul><li>The selected font to be used throughout your product</li><li>The variety of font sizes and weights to articulate the headings hierarchy</li><li>Additional typographical elements like how a link should appear when it is present</li></ul>

    <h3>Iconography</h3>
    <p>Icons are a very helpful and simplistic way to improve the accessibility of a product. They can be paired with typography to clarify what an element does or where it will send a user. Icons can also be used in more complex systems to help organize a variety of seemingly similar functions like controls, data, tools, navigation, and more.</p>

    <h3>Layouts and grids</h3>
    <p>Layouts and grids are frameworks to organize the visual elements of your digital product. They are imperative in ensuring consistency and continuity as a user moves from screen to screen. Without a standardized grid and layout, the components of your product can appear as if they are jumping around when a user clicks through to another page.</p>

    <h3>Color palette</h3>
    <p>An agreed upon color palette is not only important for brand consistency but also for setting a certain tone and feel of the product. Color plays a vital role in how a user feels when using an app or other interface, which is why it is important that whatever <a href="https://xd.adobe.com/ideas/principles/web-design/ux-of-color-palettes/">color palette you choose</a>, it stays consistent throughout the end-to-end experience.</p>

    <h3>Components</h3>
    <p>The components you choose and how you decide to display them plays a significant role in the user experience. Standardizing the components used in your product will help clarify which components serve certain functions, thus preventing user confusion across your products. An additional resource to build along with your UI style guide is a <a href="https://xd.adobe.com/ideas/principles/design-systems/">design system</a>, which will allow you to get more granular with how each component should look.</p>
    <p>There are many different components necessary for constructing the UI of your product, including patterns, which are components that are paired together and help instruct team members on how a set of components should look when placed together. An example is a modal that contains text fields, typography, and buttons.</p>
    <p>As mentioned previously, the best way to organize the different components you create is by using a design system. Not only will a design system save your design team valuable time, but it also improves <a href="https://www.adobe.com/products/xd/features/design-specs.html" onclick="javascript:window.open('https://www.adobe.com/products/xd/features/design-specs.html'); return false;">developer handoff</a> making it even easier for them to implement your designs.</p>
</div>
</body>
</html>
