<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="../css/account%20pages.css" />
  <link rel="stylesheet" type="text/css" href="../css/login%20page.css" />


  <title>Account</title>
</head>

<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <img id="navbar-brand" class="img-fluid" src="../images/logo/logo.png" alt="logo">

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav mr-auto">
        <li class="home nav-item">
          <a href="home.html" class="nav-link text-sm-start"> Home </a>
        </li>
        <li class="myList nav-item">
          <a href="account.html" class="nav-link"> Account </a>
        </li>
      </ul>
    </div>

    <div class="nav navbar-header navbar-profile pull-right">
      <ul class="nav">
        <li>
          <div class="dropdown">
            <a id="profile-dropdown" href="#" data-bs-toggle="dropdown" class="nav-link" onfocusin="setPictureYellow()" onfocusout="setPictureWhite()">
              <img id="profile-dropdown-pic" class="img-fluid" src="../images/icons/white%20profile%20icon.png" alt="profile icon">
            </a>
            <div class="dropdown-menu">
              <a href="style_guide.html" class="dropdown-item">Style Guide</a>
              <div class="dropdown-divider"></div>
              <a href="history.html" class="dropdown-item">History</a>
              <div class="dropdown-divider"></div>
              <a href="account.html" class="dropdown-item">Account</a>
              <div class="dropdown-divider"></div>
              <a href="index.html" class="dropdown-item">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVBAR END-->


<div class="container loginContainer" >
  <p id="updatePhoneText">Update your phone number</p>

  <input id="phoneNumberInput" type="text" class="form-control" placeholder="Phone number" aria-label="phoneNumber">

  <div class="input-group mb-3 loginCodeGroup">
    <input id="loginCodeInput" type="text" class="form-control" placeholder="Enter 4-digit code" aria-label="digitCode" maxlength="4">
    <div class="input-group-append">
      <button id="sendCode" class="btn btn-outline-secondary" type="button">Send code</button>
    </div>
  </div>

  <button id="logInBtn" type="button" class="btn btn-warning" onclick="location.href='account.html'">Done</button>
</div>



<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
  $("#phoneNumberInput, #loginCodeInput").keypress(function (e) {
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      return false;
    }
  });
</script>




</body>
</html>
