<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="../css/initial%20pages.css" />
    <title>Style Guide</title>
</head>
<body>

<div class="styleGuide">
    <div id="templateTitle" style="padding-top: 3%; margin-bottom: 3%;">
        <span id="projectTitle">Filmistriiming</span> <br/>
        <span id="projectDesc">Style Guide</span>
    </div>

    <!-- typography -->
    <div class="sectionHeading">
        <span class="sectionTitle">Typography</span>
        <div class="sectionSeperator"></div>
    </div>
    <div id="typography">
        <h1>H1. This is a header.</h1>
        <h2>H2. This is a header.</h2>
        <h3>H3. This is a header.</h3>
        <h4>H4. This is a header.</h4>
        <h5>H5. This is a header.</h5>
        <h6>H6. This is a header.</h6>
        <p>A general paragraph will look like this.</p>
    </div>
    <!-- typography END -->

    <!-- COLORS -->
    <div class="sectionHeading">
        <span class="sectionTitle">Color palette</span>
        <div class="sectionSeperator"></div>
    </div>

    <div>
        <ul id="colors" style="width: 80%; padding-right: 1%;">
            <li class="colorCircle color-1">
                <div class="colorHex">#FFFFFF</div>
            </li>
            <li class="colorCircle color-2">
                <div class="colorHex">#000000</div>
            </li>
            <li class="colorCircle color-3">
                <div class="colorHex">#3A3A3A</div>
            </li>
            <li class="colorCircle color-4">
                <div class="colorHex">#FFC700</div>
            </li>
            <li class="colorCircle color-5">
                <div class="colorHex">#C4C4C4</div>
            </li>
            <li class="colorCircle color-6">
                <div class="colorHex">#292929</div>
            </li>
        </ul>
    </div>
    <!-- COLORS end -->

    <!-- Iconography -->
    <div class="sectionHeading" style="padding-top: 3%">
        <span class="sectionTitle">Iconography</span>
        <div class="sectionSeperator"></div>
    </div>

    <div class="StyleGuideContainer">
        <ul id="icons">
            <li class="iconEl">
                <div class=""><img src="../images/icons/search-white.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/white%20profile%20icon.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/notification-white.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/search-yellow.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/notification-yellow.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/notification-yellow.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/bookmark-white.png" alt=""></div>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/bookmark-yellow.png" alt=""></div>
            </li>

            <li class="iconEl">
                <i style="color: #FFFFFF; font-size: 35px;" class="bi bi-chevron-right"></i>
            </li>
            <li class="iconEl">
                <div class=""><img src="../images/icons/close%20icon.png" alt="closeIcon"></div>
            </li>
        </ul>
    </div>
    <!-- Iconography end -->




    <!-- use these as needed -->
    <div class="sectionHeading">
        <span class="sectionTitle">Layouts and grids</span>
        <div class="sectionSeperator"></div>
    </div>

    <div id="inlineElements">
        <a id="gridSys" href="https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp"><h3><strong>Bootstrap grid system</strong></h3></a>
    </div>


    <!-- use these as needed -->
    <div class="sectionHeading">
        <span class="sectionTitle">FORM ELEMENTS</span>
        <div class="sectionSeperator"></div>
    </div>

    <div id="formElements">
        <input id="inputNumber" class="input-border-bottom form-control" type="text">

        <div class="container" style="margin-left: 10%; padding-top: 5%;">

            <div class="row">
                <div class="col-sm-2">
                    <input id="input1" class="input-border-bottom form-control" type="text" maxlength="1">
                </div>
                <div class="col-sm-2">
                    <input id="input2" class="input-border-bottom form-control" type="text" maxlength="1">
                </div>
                <div class="col-sm-2">
                    <input id="input3" class="input-border-bottom form-control" type="text" maxlength="1">
                </div>
                <div class="col-sm-2">
                    <input id="input4" class="input-border-bottom form-control" type="text" maxlength="1">
                </div>
            </div>
        </div>
    </div>

    <input id="firstNameInput" type="text" class="form-control" placeholder="First Name" aria-label="firstName"/>

</div>


<!-- use these as needed -->
<div class="sectionHeading">
    <span class="sectionTitle">BUTTON ELEMENTS</span>
    <div class="sectionSeperator"></div>
</div>

<div id="buttonElements">

    <button id="button1" type="button" class="btn btn-warning">Get Started</button>

    <button id="button2" type="button" class="btn btn-warning" >Next</button>

    <button id="button3" type="button" class="btn btn-warning" >Done</button>

    <button id="button4" type="button" class="btn btn-warning">Log in</button>

    <button id="button5" class="btn btn-outline-secondary" type="button">Send code</button>

    <button id="button6" type="button" class="btn btn-warning btn-block">Mastercard / Visa
        <i id="arrow" class="bi bi-chevron-right"></i>
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $("#inputNumber").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $("#input1, #input2, #input3, #input4").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $( "#button6" ).hover(
        function() {
            $('#arrow').show()
        },
        function() {
            $('#arrow').hide();
        });
</script>

</body>
</html>
